body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   ;
    background-color: red;
    overflow: hidden;
}

#page {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.stage-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    position: absolute;
    top: calc(10vw - 100vh);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80vw;
    overflow: hidden;
    background-color: lime;
    transition: transform 500ms ease;
}

.stage-container.shown {
    transform: translate3d(0, 100vh, 0);
    transition: transform 500ms ease;
}

.stage-container * {
    grid-column: 1 / span 2;
}

.left {
    grid-column: 1 / span 1;
}

.right {
    grid-column: 2 / span 1;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

button, .word-display {
    all: unset;

    border-radius: 0.5rem;
    text-align: center;
    display: block;
    width: calc(100% - 2rem);
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    word-wrap: break-word;
    background-color: lightgoldenrodyellow;
}

.word-checkbox {
    display: none;
}

.word-checkbox:checked + .word-display, button:hover, button:focus {
    background-color: rebeccapurple;
}
