:root {
    --outline: rgb(179, 190, 228);
    --background: #3A52B0;
    --block-background: #546CC8;
    --list-background: #3A52B0;
    --button-background: #2E4188;
    --button-background-pressed: #222F62;
    --button-background-disabled: #101f5e;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   ;
    color: var(--outline);
    background-color: var(--background);
}

.stage-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    position: absolute;
    top: calc(10vw + 100vh);
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0.5rem 0;
    width: min(80vw, 30rem);
    border-radius: 0.5rem;
    background-color: var(--block-background);
    opacity: 0%;
    transition: opacity 500ms ease; /*transform 500ms ease, */
}

.stage-container.shown {
    transform: translate3d(0, -100vh, 0);
    transition: opacity 500ms ease; /*transform 500ms ease*/
    opacity: 100%;
}

.stage-container > *, .list > * {
    all: unset;
    grid-column: 1 / span 2;
    column-gap: 0;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    text-align: center;
    display: block;
    width: calc(100% - 2rem);
    margin: 0.5rem 1rem;
    font-size: 1.5rem;
    word-wrap: break-word;
    background-color: var(--button-background);
}

.list > * {
    background-color: var(--list-background);
}

.list > div {
    display: flex;
    justify-content: space-between;
}

.list > div > * {
    display: inline-block;
    margin: 0 0.5rem;
}

.list > div > input {
    all: unset;
    padding-left: 0.5rem;
    text-align: left;
    width: calc(100% - 1.5rem);
}

.left {
    grid-column: 1 / span 1;
}

.right {
    grid-column: 2 / span 1;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--block-background);
    /* border: 2px solid var(--outline); */
    font-weight: bold;
}

button, .checkbox-label {
    text-align: center;
    cursor: pointer;
}

.button-small {
    all: unset;
    width: 1em;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--button-background);
}

.stage-container > canvas {
    height: 3rem;
    padding: 0;
}

.checkbox {
    display: none;
}

.checkbox:checked + .checkbox-label, button:hover {
    background-color: var(--button-background-pressed);
}

button:disabled {
    background-color: var(--button-background-disabled);
}

button.toggleable {
    overflow: hidden;
    max-height: 0;
    padding: 0;
}

button.toggleable.button-shown {
    transition: max-height 500ms ease, padding 500ms ease;
    padding: 0.5rem 0;
    max-height: 2rem;
}

#activate {
    margin-top: -0.5rem;
}

#new-game {
    margin-bottom: -0.5rem;
}

#new-game.button-shown {
    margin-bottom: 0.5rem;
}
